<div class="bg">
    <div class="login-card">
        <h2>¡Bienvenid@!</h2>
        <h3>Portal de gestión urbana</h3>
        <form [formGroup]="loginForm" class="login-form" (submit)="log()">
            <div class="form-group">
                <label for="correo">Usuario</label>
                <input formControlName="user" type="email" class="form-control" id="correo" placeholder="Usuario">
                <span class="inputError"
                    *ngIf="loginFormControls['user'].invalid && loginFormControls['user'].touched">Verifica tu usuario</span>
            </div>
            <div class="form-group">
                <label for="pass">Contraseña</label>
                <input formControlName="pass" type="password" class="form-control" id="pass" placeholder="Contraseña">
                <span class="inputError"
                    *ngIf="loginFormControls['pass'].invalid && loginFormControls['pass'].touched">Verifica tu contraseña</span>
            </div>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-secondary mt-3">Ingresa</button>
            </div>
        </form>
    </div>
</div>
<header class="bg-body-tertiary text-center text-lg-start" *ngIf="showFooter">
    <div class="float-end">
        <button class="btn btn-link text-secondary" (click)="showFooter = false"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <small>"Este programa es de carácter público, no es patrocinado ni promovido por partido político alguno y sus recursos provienen de los impuestos que pagan todos los contribuyentes. Está prohibido el uso de este programa con fines políticos, electorales, de lucro y otros distintos a los establecidos. Quien haga uso indebido de los recursos de este programa en la Ciudad de México, será sancionado de acuerdo a la ley aplicable y ante la autoridad competente"</small>
    </div>
</header>