<div class="row">
    <div class="col-md-12">
        <h4>Gestión de personal</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-secondary mt-3" [routerLink]="['../consulta-usuarios']">
                    <div class="card-header"><strong>Consulta usuarios<i class="fa-solid fa-people-group float-end"></i></strong></div>
                    <div class="card-body">
                        <p class="card-text">Consulta la información general del personal.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-secondary mt-3" [routerLink]="['../crea']">
                    <div class="card-header"><strong>Agregar nuevo usuario <i class="fa-solid fa-user-plus float-end"></i></strong></div>
                    <div class="card-body">
                        <p class="card-text">Agrega información de una nueva persona.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-secondary mt-3" [routerLink]="['../consulta-supervisores']">
                    <div class="card-header"><strong>Supervisores</strong><i class="fa-solid fa-id-card-clip float-end"></i></div>
                    <div class="card-body">
                        <p class="card-text">Consulta la información de los supervisores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-secondary mt-3" [routerLink]="['../consulta-trabajadores']">
                    <div class="card-header"><strong>Trabajadores</strong><i class="fa-solid fa-id-card-clip float-end"></i></div>
                    <div class="card-body">
                        <p class="card-text">Consulta la información de los trabajadores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>