<div class="row">
    <div class="col col-md-12">
        <h4>Bienvenido a la plataforma de gestión urbana</h4>
    </div>
</div>

<div class="row">
    <div class="col col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"><i class="fa fa-users" aria-hidden="true"></i> Personal</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Gestion de personal</h5> -->
                <p class="card-text">Gestiona la información del personal en general</p>
            </div>
        </div>
    </div>
</div>