<div class="row">
    <div class="col col-md-6">
        <h4>Frentes</h4>
    </div>
    <div class="col col-md-6">
        <a class="btn btn-primary float-end" (click)="openModal(content)"><i class="fa-solid fa-plus"></i> Agregar tramo</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="Buscar tramo" aria-label="search"
                aria-describedby="basic-addon1">
        </div>
        <p><strong>Total: 10</strong></p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Actividad</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td class="text-center">
                        <button class="btn btn-primary" [routerLink]="['../editar/1']"><i class="fa-solid fa-pen"
                                aria-hidden="true"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td class="text-center">
                        <button class="btn btn-primary" [routerLink]="['../editar/1']"><i class="fa-solid fa-pen"
                                aria-hidden="true"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td class="text-center">
                        <button class="btn btn-primary" [routerLink]="['../editar/1']"><i class="fa-solid fa-pen"
                                aria-hidden="true"></i></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo tramo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
            <button type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        </div>
    </div>
</ng-template>

